.claude/
.agents/
.seihou/manifest.json.tmp
CLAUDE.local.md
.mina/
.envrc
.envrc.local
dist
dist-*
dist-diagnose/
cabal-dev
.direnv
.dev/
cabal.project.local
db/
result
result-*
.pre-commit-config.yaml
